alembic
aniso8601
argcomplete
asgiref
attrs
autopep8
azure-core
azure-storage-blob
backcall
backports.entry-points-selectable
boto3
botocore
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
coverage
cryptography
databricks-cli
debugpy
decorator
dill
distlib
docker
dotmap
elastic-apm
elasticsearch
entrypoints
faiss-cpu
farm==0.8.0
farm-haystack
fastapi
feedparser
filelock
Flask
Flask-Cors
Flask-RESTful
flask-restplus
gitdb
GitPython
greenlet
grpcio
grpcio-tools
gunicorn
h11
html2text
httptools
huggingface-hub
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
isodate
itsdangerous
jedi
Jinja2
jmespath
joblib
jsonschema
jupyter-client
jupyter-core
langdetect
lxml
Mako
MarkupSafe
matplotlib-inline
mlflow
mmh3
more-itertools
msrest
networkx
nltk
numpy
oauthlib
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
pluggy
prometheus-client
prometheus-flask-exporter
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
py
pycodestyle
pycparser
pydantic
Pygments
pymilvus==1.0.1
pyparsing
pyrsistent
python-dateutil
python-docx
python-dotenv
python-editor
python-multipart
pytz
PyYAML
pyzmq
querystring-parser
rdflib
realpython-reader
regex
requests
requests-oauthlib
s3transfer
sacremoses
scikit-learn
scipy
sentence-transformers
sentencepiece
seqeval
sgmllib3k
six
sklearn
smmap
SPARQLWrapper
SQLAlchemy
SQLAlchemy-Utils
sqlparse
starlette
tabulate
threadpoolctl
tika
tokenizers
toml
torch
torchvision
tornado
tox
tqdm
traitlets
transformers
typing
typing-extensions
ujson
urllib3
uvicorn
uvloop
validators
virtualenv
wcwidth
weaviate-client
websocket-client
Werkzeug
zipp
